<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">serProductApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['./cart']">Cart</a>
        </li>
      </ul>
    </div>
    {{'Productos ' + (cartProducts$ | async)?.length}}
  </div>
</nav>

<div class="container-fluid">
  <div class="col-md-5 col-lg-4 order-md-last">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span class="text-primary">Ser Soluciones Cart</span>
      <span class="badge bg-primary rounded-pill">{{'Productos ' + (cartProducts$ | async)?.length}}</span>
    </h4>
    <ul class="list-group mb-3" *ngIf="products$ | async">
      <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let product of products$ | async">
        <div>
          <h6 class="my-0">{{product?.name}}</h6>
          <small class="text-muted">Brief description</small>
        </div>
        <span class="text-muted">{{product?.price}}</span>
      </li>
      <li class="list-group-item d-flex justify-content-between">
        <span>Total (USD)</span>
        <strong>$0</strong>
      </li>
    </ul>

    <form class="card p-2">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo code">
        <button type="submit" class="btn btn-secondary">Redeem</button>
      </div>
    </form>
  </div>
</div>
